.education{
    width:50%;
    float: left;
    text-align: left;
    padding:10px;

}


.experience{
    width:50%;
    float: right;
    text-align: left;
    padding: 10px;
}
.text-left{
    width: 100%;
    text-align: left;
    padding: 12px;
  
}
.text-left h5{
    padding:0 0 0 15px;
}
.col-4{
    width:100%;
    height:auto;
    border: 1px solid #dee2e6;
    padding:10px;
    margin-bottom: 10px;
}
.skill_content{
    display: flex !important;
    flex-direction: column !important;
    gap: 5px;
}
.skill-font{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill-font h3 {
    font-size: 15px !important;
    font-weight: 700 !important;
    color: rgb(33,37,41) !important ;
    position: relative;
    display: inline;
    
}
.skill-font span{
    padding: 10px 7px 1px 1px;
    font-size: 15px !important;
        font-weight: 700 !important;
        color: rgb(33, 37, 41) !important;
}
.skill__download{
    margin: 10px;
    color: #6c757d !important;
    border: 2px solid #6c757d !important;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

/* .skill-font::after {
    content: '85%';
    top:0;
    right:0;
    position: absolute;

} */
.yellow{
    width:100px;
    padding:3px;
    text-align: center;
    border-radius: 10px;
    color:#fff;
    margin: 0 0 5px 0;
    background-color: var(--yellow_color);
}

.red{
    padding: 3px;
    color: red;
    margin: 5px 0;
}
.bold{
    padding: 3px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin:10px 0 0 0;
}

.outer-percentage{
    width:100%;
    height:13px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
}

.inner-percentage{
    height: inherit;
    border-radius: inherit;
    background-color: var(--yellow_color);
}

@media screen and (max-width:767px) {
    .experience,
        .education {
            width: 100%;
            float: none;
        }
}
